doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title abbout us
    body 
    h1 About Us
    p ini halaman about
    img(src="/images/bola.jpg", alt="gambar bola")
    button kembali 
    